<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>
  </head>
  <body>
    <!-- <h1 th:text="${movie.toString()}"></h1> -->

    <div
      class="container d-flex justify-content-center align-items-center vh-90"
    >
      <!-- Table -->
      <div class="row colored-row border rounded-4 py-2 w-75">
        <!-- Table Header -->
        <th:block
          th:replace="~{fragments :: best-table-header(none)}"
        ></th:block>

        <!-- Table Main -->
        <div class="col-12 text-center p-3">
          <h1 th:text="${movie.getTitolo()}" class="pb-2"></h1>

          <h5>ID: [[${movie.getId()}]]</h5>

          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
            possimus enim quasi blanditiis hic? Distinctio blanditiis totam quis
            debitis, doloribus fugit esse temporibus assumenda soluta impedit
            quo quaerat molestias velit. Earum eaque placeat, odit assumenda
            rerum exercitationem delectus dicta vitae corrupti deserunt ullam
            provident laboriosam natus deleniti consequuntur debitis dolorem
            aspernatur nihil asperiores labore nesciunt atque. Doloremque porro
            cumque excepturi!
          </p>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundel with Popper -->
    <script
      th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
